<!Doctype html>

<html>

<head>
  <title>Update Member's Profile</title>
</head>

<body>
  <form action="/member/updateMember" method="POST">
    <div class="login">
      <h1>Update Member's Profile</h1>
      <input type="hidden" name="id" value="<%=data._id%>" required="required" />
      <input type="text" name="name" value="<%=data.name%>" required="required" />
      <input type="text" name="email" value="<%=data.email%>" required="required" />
      <input type="number" name="age" value="<%=data.age%>" required="required" />
      <input type="date" name="dob" value="<%=data.dob%>" required="required" />
      <input type="text" name="address" value="<%=data.address%>" required="required" />
      <input type="number" name="pincode" value="<%=data.pincode%>" required="required" />
      <input type="number" name="mobile" value="<%=data.mobile%>" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large">UPDATE</button>
  </form>
  </div>
  </form>
</body>
</html>